.info-panel {
  border-radius: 6px;
  padding-left: 40px;
  background-color: #FEFEFE;
  // min-height: 70px;
}


.log-out-div:hover{
 border-color: #94D3FC; 
}
.log-out-div:hover .log-out-button {
 
  color:#94D3FC;

}