<div class="holder">
  <!-- HEDER -->
  <div class="header">
    <span>توضیحات</span>
    <button (click)="cancelButton()" class="">X</button>
  </div>
  <!-- BODY -->
  <div class="body">
    <div class="section">
      <div class="rows">
        <div class="tsp-input">
          <input
            id="price"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="price"
            maxlength="14"
          />
          <label for="price"></label>
        </div>
        <div>+</div>
      </div>
    </div>

    <div class="button-container">
      <div class="buttons-holder">
        <button (click)="cancelButton()" class="tsp-button normal secondary">
          انصراف
        </button>
        <button (click)="saveAccount()" class="tsp-button normal primary">
          ذخیره
        </button>
      </div>
    </div>
  </div>
</div>
