<div class="container mx-auto flex lg:flex-row">
  <div class="main-container flex-1 flex flex-col gap-0">
    <!-- هدر محتوا -->
    <div class="w-full h-fit bg-cyan-200">
      <info-panel></info-panel>
    </div>

    <!-- بدنه محتوا -->
    <div class="flex flex-row w-full h-full px-[15px] ">
      <div class="w-fit h-full sidebar-holder ">
        <sidebar></sidebar>
      </div>
      <div class="flex flex-row w-full h-full bg-white mr-[10px] ">
        <div class="flex flex-row bg-[#F5F5F5] p-[15px]  rounded-[15px] w-full h-full border border-[#E3E3E5]">
           <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>
