<div class="h-[calc(100%-124px)]  ng-tns-c183-53">
  <p-table
    [value]="bodyRows"
    styleClass="p-datatable-sm"
    [scrollHeight]="'flex'"
    [scrollable]="true"
    [filterDelay]="0"
    [rowHover]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of headers.slice(0, 6)">{{ col }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of headersKey.slice(0, 6)">
          {{ rowData[col] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="table-footer">
  <p-paginator
    class=""
    (onPageChange)="paginate($event)"
    [rows]="pageSize"
    [totalRecords]="totalNumber"
  />
</div>
