  .main-content {
    flex-direction: row;
    flex: 1 1 0%;
    height: 100%;

  }



  :host {
    display: block;
    width: 100%;
  }

  .holder {
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 100%;
  }