

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: #535357;
}


/* Active tab */
.tab button.active {
  color: #275D9C;
border-bottom: 2px solid #275D9C;
}
.tabcontent {
  display: block;
  border-top: none;
  min-height: 150px;
}
