<div class="container" [formGroup]="stuffFormGroup">
  <div class="section">
    <div class="first">
      <div class="rows">
        <div class="tsp-input">
          <input
            id="accountingCode"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="accountingCode"
            maxlength="14"
          />
          <label for="accountingCode">کد حسابداری</label>
        </div>
        <div class="tsp-input">
          <mat-checkbox
            class="primary"
            formControlName="accountingCodeIsActive"
          >
            فعال
          </mat-checkbox>
        </div>
      </div>
      <div class="rows">
        <div class="tsp-input">
          <input
            id="nickname"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="nickname"
            maxlength="14"
          />
          <label for="nickname">نام کالا</label>
        </div>
        <div class="tsp-input">
          <input
            id="collectionName"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="collectionName"
            maxlength="14"
          />
          <label for="collectionName">کد کالا</label>
        </div>
        <div class="tsp-input">
          <input
            id="collectionName"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="collectionName"
            maxlength="14"
          />
          <label for="collectionName">بار کد</label>
        </div>
      </div>
    </div>

    <div class="second">
      <div class="holder">
        <mat-tab-group
          class="accounting-tab"
          (selectedTabChange)="selectedTabChanged($event)"
          [(selectedIndex)]="tabIndex"
        >
          <mat-tab class="mat-tab">
            <ng-template mat-tab-label>
              <div class="primary-label-text">فروش</div>
            </ng-template>
            <div class="invoice-section">
              <div class="rows">
                <div class="tsp-input">
                  <input
                    id="nationalCode"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="nationalCode"
                    maxlength="14"
                  />
                  <label for="nationalCode">قیمت فروش</label>
                </div>
                <div class="tsp-input">
                  <input
                    id="econamicKey"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="econamicKey"
                    maxlength="14"
                  />
                  <label for="econamicKey">توضیحات فروش</label>
                </div>
              </div>
              <div class="rows">
                <div class="tsp-input">
                  <input
                    id="registrationNumber"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="registrationNumber"
                    maxlength="14"
                  />
                  <label for="registrationNumber">قیمت خرید</label>
                </div>
                <div class="tsp-input">
                  <input
                    id="branchNumber"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="branchNumber"
                    maxlength="14"
                  />
                  <label for="branchNumber">توضیحات خرید</label>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="primary-label-text">عمومی</div>
            </ng-template>
            <div class="rgistration-section">
              <div class="rows">
                <div class="tsp-input">
                  <input
                    id="postalCode"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="postalCode"
                    maxlength="14"
                  />
                  <label for="postalCode">واحد اصلی </label>
                </div>
                <div class="tsp-input">
                  <input
                    id="address"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="address"
                    maxlength="14"
                  />
                  <label for="address">توضیحات</label>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="primary-label-text">موجودی کالا</div>
            </ng-template>
            <div class="contact-section">
              <div class="rows">
                <mat-checkbox
                  class="primary"
                  formControlName="accountingCodeIsActive"
                >
                  فعال
                </mat-checkbox>
              </div>
              <div class="rows">
                <div class="tsp-input">
                  <input
                    id="mobile"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="mobile"
                    maxlength="14"
                  />
                  <label for="mobile">نقطه سفارش</label>
                </div>
                <div class="tsp-input">
                  <input
                    id="phone"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="phone"
                    maxlength="14"
                  />
                  <label for="phone">حداقل سفارش</label>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="primary-label-text">مالیات</div>
            </ng-template>
            <div class="bank-section">
              <div class="rows">
                <div class="tsp-input">
                  <input
                    id="phone"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="phone"
                    maxlength="14"
                  />
                  <label for="phone">مالیات فروش</label>
                </div>
                <div class="tsp-input">
                  <input
                    id="phone"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="phone"
                    maxlength="14"
                  />
                  <label for="phone">مالیات خرید</label>
                </div>
                <div class="tsp-input">
                  <input
                    id="phone"
                    type="text"
                    placeholder=""
                    class="tsp-input"
                    formControlName="phone"
                    maxlength="14"
                  />
                  <label for="phone">کد مالیاتی</label>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="flex flex-row w-full justify-end mt-auto">
        <div class="flex flex-row w-[272px] h-[36px] gap-2">
          <button class="tsp-button normal secondary">post</button>
          <button class="tsp-button normal primary">get</button>
        </div>
      </div>
    </div>
  </div>
</div>
