<div
  class="container no-select  px-0 flex flex-col relative transition-all duration-300 ease-in-out "
  [style.width]="sidebarMode === 'true' ? '268px' : '40px '"
>
  <div class="w-full h-fit  flex ">
    <div
      class=" flex flex-col px-0 w-full"
      [ngClass]="
        sidebarMode === 'true'
          ? '  gap-4  '
          : '  gap-1 justify-center'
      "
    >
      <app-sidebar-item
        *ngFor="let navItem of navbarList"
        [navItem]="navItem"
        [sidebarMode]="sidebarMode === 'false'"
        (toggle)="onToggleExpand($event)">
      >
      </app-sidebar-item>
    </div>
  </div>

 
  <!-- <div
    (click)="toggleSidebar()"
    class="slider-icon-container bg-[#0890E8] size-7 absolute top-10 -left-3 flex items-center justify-center rounded-full border-2 border-gray-300 text-white shadow cursor-pointer transition-all duration-300"
    [ngClass]="{
      'rotate-180': sidebarMode === 'false',
      'rotate+180': sidebarMode === 'true'
    }"
  >
    <div
      class="slider-icon size-6 flex items-center justify-center bg-primary-500 text-neutral-white rounded-full"
    >
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div> -->
</div>
