.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;


    .section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 26px;
            width: 100%;
            margin-bottom: 10px;

            .title {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 20%;
                align-items: center;
            }

            .icons {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 300;
                justify-content: end;
                align-items: center;
                gap: 16px;

                .icon {
                    display: flex;
                    flex-direction: row;
                    height: 24px;
                    width: 24px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    border-width: 1px;
                    border-color: #cfcfcf;
                }
            }
        }

        .grid {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 512px;
            border-radius: 8px;
            border-width: 1px;
            border-color: #cfcfcf;
        }

    }
}