<div
  class="flex flex-col w-[572px] h-[284px] bg-white"
   [formGroup]="ticket"
  >
  <!-- HEDER -->
  <div
    class="flex flex-row h-[56px] justify-between px-[32px] py-[16px] bg-[#F3F3F5]"
  >
    <span>افزودن بلیط</span>
    <span>X</span>
  </div>
  <!-- BODY -->
  <div class="flex flex-col px-[24px] py-[16px] h-[128px]">
    <div class="flex flex-row gap-3">
      <div class="tsp-input">
        <input
          id="projectname"
          type="text"
          placeholder=""
          class="tsp-input"
          formControlName="project_name"
          maxlength="14"
        />
        <label for="projectname">نام پروژه</label>
      </div>
      <div class="tsp-input">
        <ng-select
          class="small mandatory"
          [items]="statusList"
          bindLabel="name"
          bindValue="id"
          placeholder="بانک"
          formControlName="ticket_status"
          required
        ></ng-select>
      </div>
    </div>

    <!-- 2 -->
    <div class="flex flex-col">
      <div class="flex flex-row gap-3">
        <div class="tsp-input">
          <input
            id="subject"
            type="text"
            placeholder=""
            class="tsp-input"
            formControlName="ticket_subject"
            maxlength="14"
          />
          <label for="subject">موضوع</label>
        </div>
        
      </div>
      <div class="flex flex-row w-full h-[36px] gap-2 bg-white rounded-[8px]">
        <button class="tsp-button normal secondary">انصراف</button>
        <button class="tsp-button normal primary" (click)="saveTicket()">ذخیره</button>
      </div>
    </div>
  </div>
</div>
