

@import './assets/styles/global/global.scss';
/* styles.css */



@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }


@media screen {
  .container{
    max-width: 100% !important;
  }
}


  .mat-mdc-dialog-surface {
    overflow: visible !important;
    border-radius: 8px;
  }
