:root {
  // buttons colors
  // primary
  --light-background-brand-background: #0f6cbd;
  --light-background-brand-background-hover: #115ea3;
  --light-background-brand-background-pressed: #0c3b5e;
  --light-background-brand-background-selected: #0f548c;
  --darkBlue: #002554;
  --secondary-darkBlue: #204066;
  --light-foreground-foreground-on-brand: #fff;
  // secondary
  --light-background-background-1: #fff;
  --light-background-background-1-hover: #f5f5f5;
  --light-background-background-1-pressed: #e0e0e0;
  --light-stroke-stroke-1: #d1d1d1;
  --light-stroke-stroke-2: #e0e0e0;
  --light-stroke-stroke-3: #f0f0f0;
  --light-stroke-stroke-4: #fafafa;
  --light-stroke-stroke-1-hover: #c7c7c7;
  --light-stroke-stroke-1-pressed: #b3b3b3;
  --light-stroke-stroke-focus-2: #000;
  --light-foreground: #424242;

  // success
  --success-green: #47a992;
  --success-green-focus: #9fd2c6;
  // disabled
  --light-background-background-disabled: #f0f0f0;
  --light-foreground-foreground-disabled: #bdbdbd;
  --light-stroke-stroke-disabled: #e0e0e0;
  // danger

  --danger-red: #b10e1c;
  --danger-red-focus: #cf2230;
  --dangerIcon: #d15353;
  
  // ali login colors
  --light-shared-marigold-bg-3: #eaa300;
  --dark-orange: #F27F51;

  // inputs colors
  --focus: #8fa8ca;
  --focus-text-color: #0f548c;
  --light-error: #bc2f32;
  --disabled-input-text-color: rgba(61, 61, 61, 0.75);
  --disabled-text-color: #3d3d3d;
  --dropdown-text-color: #616161;

  // tabs color
  --tab-background: #f4f6fa;
  --tab-text-color: #616161;
  --tab-icon-color: #424242;
  --active-tab-text-color: #0f6cbd;
  --lightBlue: #0f6cbd;
  --active-tav-icon-color: #0f6cbd;

  // overal
  --text-color: #242424;
  --eye-icon-color: #424242;
  --strockgray: #ddd;
  --light-foreground-foreground-4: #707070;
  --back-ground: #faf6f6;
  --back-panel: #fbfbfb;

  // landing sidebar

  --sidebar-text-color: var(--light-background-background-1);
  --sidebar-options-text-color: #D6D6D6;
  --sidebar-settings-text-color: #F0F0F0;
  
  // toaster colors 
  --success-toaster: #39AE53;
  --warning-toaster: #FEC51A;
  --warning-light: #EAA300;
  --error-toaster: #DE4553;
  --info-toaster: #1976D2;
  $info: blue;



  --sidebar-options-text-color: #d6d6d6;
  --sidebar-settings-text-color: #f0f0f0;


  //  colors of new design system

  --tsp-neutral-background : #FAFAFA;
  --tsp-neutral-white : #FEFEFE;
  --tsp-neutral-black : #171717;
  --tsp-neutral-25 : #FCFCFC;
  --tsp-neutral-50 : #F5F5F5;
  
  --tsp-primary-25:#F1F5FD;
  --tsp-primary-50:#D9E3F9;
  --tsp-primary-100:#C7D7F9;
  --tsp-primary-200:#96B8F5;
  --tsp-primary-300:#3685E0;
  --tsp-primary-400:#3477C5;
  --tsp-primary-500:#275D9C;
  --tsp-primary-600:#1F4D84;
  --tsp-primary-700:#1A406E;
  --tsp-primary-800:#113159;
  --tsp-primary-900:#071A32;

  --tsp-secondary-500: #002554;

  --tsp-gray-25:#FAFAFC;
  --tsp-gray-50:#F3F3F5;
  --tsp-gray-100:#E3E3E5;
  --tsp-gray-200:#D9D9DB;
  --tsp-gray-300:#BCBCC0;
  --tsp-gray-400:#A2A2A5;
  --tsp-gray-500:#868689;
  --tsp-gray-600:#717176;
  --tsp-gray-700:#535357;
  --tsp-gray-800:#3C3A3A;
  --tsp-gray-900:#0A0A0A;

  --tsp-info-25:#F5F8FF;
  --tsp-info-50:#EFF4FF;
  --tsp-info-100:#D1E0FF;
  --tsp-info-200:#B2CCFF;
  --tsp-info-300:#84ADFF;
  --tsp-info-400:#528BFF;
  --tsp-info-500:#2970FF;
  --tsp-info-600:#004EEB;
  --tsp-info-700:#0040C1;
  --tsp-info-800:#00359E;
  --tsp-info-900:#002266;

  --tsp-success-25:#F4FFF2;
  --tsp-success-50:#E8F4E5;
  --tsp-success-100:#D6EBD1;
  --tsp-success-200:#B2D9A9;
  --tsp-success-300:#8EC781;
  --tsp-success-400:#6AB559;
  --tsp-success-500:#46A331;
  --tsp-success-600:#388227;
  --tsp-success-700:#2A621D;
  --tsp-success-800:#1C4114;
  --tsp-success-900:#15310F;

  --tsp-error-25:#FFF2F2;
  --tsp-error-50:#FFC9CA;
  --tsp-error-100:#FE9C9E;
  --tsp-error-200:#FE1F2A;
  --tsp-error-300:#EC071A;
  --tsp-error-400:#CE0515;
  --tsp-error-500:#BB0412;
  --tsp-error-600:#9E030D;
  --tsp-error-700:#7A020A;
  --tsp-error-800:#690106;
  --tsp-error-900:#3E0002;

  --tsp-warning-25:#FFFCF6;
  --tsp-warning-50:#FDF3DD;
  --tsp-warning-100:#FBE9C5;
  --tsp-warning-200:#F7D694;
  --tsp-warning-300:#F4C462;
  --tsp-warning-400:#F0B131;
  --tsp-warning-500:#EC9E00;
  --tsp-warning-600:#D48348;
  --tsp-warning-700:#B56931;
  --tsp-warning-800:#924A1F;
  --tsp-warning-900:#783412;

  --tsp-divider-color: #BDBDBD,
}
